<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <head>
        <link rel="stylesheet" type="text/css" href="login.css">
    </head>
    <body>
        <div id="signup">
            <img src="login_img1.gif">
            <div id="signup_form">
                
                <div id="id01" class="modal">
                   
                        <form ng-app="" name="myform">
                      <div class="container">
                        <marquee id="marq1"direction="right" scrollamount="6">Login</marquee>
                        <p>Please enter username and password </p>
                        <hr>
                       
                        <input type="email"  placeholder="Enter email"name="myadress" ng-model="text">
                        <span ng-show="myform.myadress.$error.email">not valid email</span>
                        <input type="password"  placeholder="Enter password"name="myadress" ng-model="text">
                        <span ng-show="myform.myadress.$error.password">please set atleast 8 numer</span>
                        
                          <button type="submit" id="loginbtn">Log in</button>

                          <button type="button" id="signupbtn" onclick="signup()">Sign up</button>
                        

                        </div>
                      </div>
                    </form>
                  </div>
                

            </div>
        </div>
        <script>

           function signup(){
             window.location.replace("signup.html")
           }

        </script>
    </body>
    
</html>
