h1{
    margin-left: 10%;
}
#pizza
{
    margin-left: 5%;
    margin-right: 5%;
}
.card-body h5
{
    font-family: Bradley Hand ITC;
    font-size: 28px;
    font-weight: 600;
}
p{
    font-family: Bradley Hand ITC;
    font-size: 24px;
}

#others img{
    
    width:80%;
    height:50%;
}

#pizza img{
    width:70%;
    height:60%;
}
