h1{
    margin-left: 10%;
}
#pizza
{
    margin-left: 5%;
    margin-right: 5%;
}
.card-body h5
{
    font-family: Bradley Hand ITC;
    font-size: 28px;
    font-weight: 600;
}
p{
    font-family: Bradley Hand ITC;
    font-size: 24px;
}
#others{
    

    margin-left: 5%;
    margin-right: 5%;

}
#others img{
    
    width:350px;
    height:400px;
    margin-left: 15%;
}

#pizza img{
    width:350px;
    height:300px;
    margin-left: 15%;
}
.card4{
    font-size: 18px;
}
 
